#mapid { 
  height: 640px; 
  width: 640px;
}


.leaflet-bar.leaflet-control-zoom a {
  background-color: #47A8A9;
  color: #fff;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none;
}